/* Chatbot.module.css */

.chatbotButton {
  position: fixed;
  bottom: 100px; /* Adjust this to move above the Scroll to Top button */
  right: 20px;
  background-color: #0070f3;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.chatbotButton:hover {
  background-color: #005bb5;
}

.chatbotContainer {
  position: fixed;
  bottom: 0; /* Adjust to ensure it's not covering the Scroll to Top button */
  right: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .chatbotContainer {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .chatbotContainer {
    right: 5px;
  }
}


.themeToggleButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #0070f3;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.themeToggleButton:hover {
  background-color: #005bb5;
}


